
//colors
$bcColor: #3A4663;
$white: #ffffff;
$gray: #242D44;
$dark: #181F33;
$button-color: #EAE3DC;


//mixins
@mixin flexProperty ($horizontal,$vertical,$wrap, $direction) {
    justify-content: $horizontal;
    align-items: $vertical;
    flex-wrap: $wrap;
    flex-direction: $direction;
}

@mixin dimensions ($width, $height) {
    width: $width;
    height: $height;
}

@mixin background ($Size, $repeat, $position) {
    background-size: $bcSize;
    background-repeat: $repeat;
    background-position: $position;
}
@mixin absolute ($top, $right, $left) {
    top: $top;
    right: $right;
    left: $left;
}
@mixin textStyle ($weight, $size, $height, $spacing, $transform, $color) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: $spacing;
    text-transform: $transform;
    color: $color;
}
html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    body {
        width: 100vw;
        height: 100vh;
        font-style: normal;
        display: flex;
        font-family: 'League Spartan', sans-serif;
        @include flexProperty(center,center, unset, column);
        padding: 3rem 2.4rem;
        background-color: $bcColor;
        header {
            display: flex;
            @include flexProperty(space-between,center,unset, row);
            width: 100%;
            max-width: 32.7rem;
            h1 {
                @include textStyle(700, 3.2rem, 2.9rem, -0.053rem, lowercase, $white);
                padding-bottom: -1rem;
            }
            .theme {
                display: flex;
                @include flexProperty(space-between, center, nowrap,row);
                gap: 2.6rem;
                p {
                    @include textStyle(700, 1.2rem, 1.1rem, 0.1rem, uppercase, $white);
                    margin-top: 2rem;
                }
                .toggle-Container {
                    #toggle-switch {
                        @include dimensions(7.1rem, 2.6rem);
                        background-color: $gray;
                        border-radius: 1.3rem;
                        padding: 0.5rem;
                        display: flex;
                        @include flexProperty(space-between, center, nowrap,row);
                        div {
                            @include dimensions(1.6rem, 1.6rem);
                            border-radius: 50%;
                        }
                        .theme1 {
                            background-color: #D03F2F;
                        }
                        .theme2 {
                            background-color: #C85402;
                            //opacity: 0;
                        }
                        .theme3 {
                            background-color: #00DED0;
                            //opacity: 0;
                        }
                    }
                    #theme-numbers {
                        display: flex;
                        @include flexProperty(center, center, nowrap,row);
                        @include textStyle(500, 1.2rem, 1.1rem, unset, uppercase, $white);
                        span {
                            margin: auto 0.8rem;
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }
        #result {
            @include dimensions(100%, 8.8rem);
            max-width: 32.7rem;
            background-color: $dark;
            border-radius: 1rem;
            margin: 3.2rem 0 2.4rem 0;
            padding: 2.9rem 2.4rem 2.2rem 2.4rem;
            @include textStyle(500, 4rem, 3.7rem, -0.067rem, uppercase, $white);
            text-align: right;
        }
        .buttons {
            background-color: #242D44;
            border-radius: 1rem;
            display: grid;
            width: 100%;
            max-width: 32.7rem;
            padding: 2.4rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1.3rem;
            vertical-align: center;
            justify-content: center;
            .button {
                height: 6.4rem;
                max-width: 6rem;
                background-color: $button-color;
                border-radius: 0.5rem;
                box-shadow: inset 0rem -0.4rem 0rem  #B3A497;
                @include textStyle(700, 3.2rem, 100%, -0.053rem, uppercase, #434A59);
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #delete, #reset {
                background-color: #647198;
                @include textStyle(700, 2.0rem, 10.8rem, -0.033rem, uppercase, #ffffff);
                box-shadow: inset 0px -0.4rem 0rem  #414E73;
            }
            #x-button {
                text-transform: lowercase;
            }
            #reset {
                grid-column: 1 / 3;
                max-width: unset;
            }
            #equal-sign {
                grid-column: 3 / 5;
                max-width: unset;
                background-color: #D03F2F;
                @include textStyle(700, 2.0rem, 10.8rem, -0.033rem, uppercase, #ffffff);
                box-shadow: inset 0px -0.4rem 0rem  #93261A;
            }
        }
    }
}

